[licenses]
# Don't allow code with an unclear license.
unlicensed = "deny"

# Don't allow "copylefted" licenses unless they're listed below.
copyleft = "deny"

# Allow common non-restrictive licenses. ISC is used for various DNS and crypto
# things, and it's a minimally restrictive open source license.
allow = ["MIT", "Apache-2.0", "BSD-3-Clause", "CC0-1.0", "Zlib"]

# Many organizations ban AGPL-licensed code
# https://opensource.google/docs/using/agpl-policy/
deny = ["AGPL-3.0"]

[[licenses.clarify]]
name = "encoding_rs"
expression = "(MIT OR Apache-2.0) AND BSD-3-Clause AND CC0-1.0"
license-files = [
    { path = "COPYRIGHT", hash = 972598577 },
]

[bans]
# Warn about multiple versions of the same crate, unless we've indicated otherwise below.
multiple-versions = "warn"

deny = [
    # OpenSSL has caused endless deployment and build problems, and we want
    # nothing to do with it, in any version.
    { name = "openssl-sys" },
]

skip = [
    # Several libraries still use the old version.
    { name = "itoa", version = "0.4.8"},
]